name: SuperLista
description: Aplicativo de listas de compras com recursos premium gratuitos.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  intl: ^0.20.2
  path_provider: ^2.0.15
  uuid: ^4.5.2
  provider: ^6.1.2
  flutter_riverpod: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.15.0

flutter:
  uses-material-design: true