name: super_lista_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  riverpod: ^3.0.3
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  intl: ^0.20.0

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  golden_toolkit: ^0.15.0

flutter:
  uses-material-design: true
