
name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.0'

      - name: Cache pub packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.pub-cache
            build/
          key: ${{ runner.os }}-flutter-${{ hashFiles('pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-flutter-

      - name: Install dependencies
        run: flutter pub get

      - name: Format check
        run: dart format --set-exit-if-changed .

      - name: Analyze code
        run: flutter analyze

      - name: Prepare Hive temp directory
        run: mkdir -p /tmp/hive_test

      - name: Run tests with coverage
        run: |
          flutter test --coverage
          sudo apt-get install lcov
          genhtml coverage/lcov.info -o coverage/html

      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: coverage/html

      # ✅ Integração com Codecov
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.eeee6b9f-c97e-4479-bf9e-ceac1e7f9f4e }}
          files: coverage/lcov.info
          flags: unittests
          name: flutter-ci
          fail_ci_if_error: true

      - name: Check outdated dependencies
        run: flutter pub outdated

      - name: Security audit
        run: flutter pub audit
